    <body onload="document.addCategory.categoryName.focus();">
        
    <section>

        <div class="content-wrapper">

            <div class="container-xxl flex-grow-1 container-p-y mt-5">

                <div class=" container col-md-5 " style="border: 1px solid black;">
                                     <h2 class=" mt-5 mb-5 text-center">Add Category</h2>

                    <div class="ml-5 col-md-12 ">

                        <form action="/vendor/addCategory" method="post" name="addCategory" id="form"
                            onsubmit="return validateAddCategory()">
                            <label  for="">Category Name</label> <br>
                            <span id="requiredCategoryName" class="text-danger letter"> </span>

                            <div class="mb-3 mt-3"><input type="text" name="categoryName" class="form-control"
                                    placeholder="Enter your Category Name">

                            </div>
                            
                            <div class="text-center mb-5">
                                <button type="submit" class="btn btn-success mt-4 ">Add</button>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>

    {{!-- <script>
        function validateAddCategory(){
            var categoryName=document.addCategory.categoryName

            if(allLetter(categoryName)){
            }
                     return false

        }
        function allLetter(categoryName) {
    var letters = /^[A-Za-z]+$/;
    if (categoryName.value.match(letters)) {
        return true;
    }
    else {
        document.getElementById('requiredCategoryName').innerHTML = "Username must have alphabet characters only";

        alert('Username must have alphabet characters only');
        categoryName.focus();
        return false;
    }
}
    </script> --}}