<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card col-sm-12 col-xl-12">
            <div class="text-center">
                <div>
                    <h1 class="p-5">Banner</h1>
                </div>
            </div>

            <div>



                <div class="col-lg-6 mx-auto">
                    <div class="image-area m-4 ">
                        <img id="imageResult1" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                    </div>
                    <!-- Upload image input-->
                    <div class="input-group mb-3 px-2 py-2">
                        <input id="upload" type="file" onchange="readURL1(this);" class="form-control border-0">
                        
                        <div>
                            <a href="/admin/add-baner" class="btn btn-primary">Upload Banner 1</a>
                        </div>
                    </div>
                


                    <div class="image-area m-4 ">
                        <img id="imageResult2" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                    </div>
                    <!-- Upload image input-->
                    <div class="input-group mb-3 px-2 py-2">
                        <input id="upload2" type="file" onchange="readURL2(this);" class="form-control border-0">
                       
                        <div class="mb-5">
                            <a href="/admin/add-baner" class="btn btn-primary">Upload Banner 2</a>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<script>





    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult1')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult2')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        $('#upload1').on('change', function () {
            readURL2(input);
        });
    });
 $(function () {
        $('#upload2').on('change', function () {
            readURL1(input);
        });
    });

</script>