
        <div class="container">
         
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-12  empty-cart-cls text-center mb-5">
                    <div class="my-5">
                        <img src="/user/img/icon/checked.png" width="130" height="130" class="img-fluid">

                    </div>
                    <div class="my-5">
                        <h3><strong>Your Order Placed Successfully</strong></h3>

                    </div>

                    <div class="row mb-5">
                        <div class="col-lg-6 col-md-6 col-sm-6 my-5">
                            <div class="continue__btn_1 ">
                                <a href="/">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 my-5">
                            <div class="continue__btn_1 update__btn ">
                                <a href="/viewOrders"><i class="fa fa-shopping-cart"></i> Order Details</a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>


        </div>
