.error {
    color: red;
 }



 .shopping__cart__table_1 {
	margin-bottom: 30px;
}

.shopping__cart__table_1 table {
	width: 100%;
}

.shopping__cart__table_1 table thead {
	border-bottom: 1px solid #f2f2f2;
}

.shopping__cart__table_1 table thead tr th {
	color: #111111;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 25px;
}

.shopping__cart__table_1 table tbody tr {
	border-bottom: 1px solid #f2f2f2;
}

.shopping__cart__table_1 table tbody tr td {
	padding-bottom: 30px;
	padding-top: 30px;
}


 .shopping__cart__table_1 {
    overflow-y: auto;
}
.shopping__cart__table_1 table tbody tr td.product__cart__item_1 .product__cart__item__pic_1 {
    float: none;
    margin-right: 0;
}

.shopping__cart__table_1 table tbody tr td.product__cart__item_1 {
    width: 150px;
}

.shopping__cart__table_1 table tbody tr td.product__cart__item_1 .product__cart__item__pic_1 {
    float: left;
    margin-right: 30px;
    width: 100px; height: 100px;

}

.shopping__cart__table_1 table tbody tr td.product__cart__item_1 .product__cart__item__text_1 {
    overflow: hidden;
    padding-top: 21px;
}

.shopping__cart__table_1 table tbody tr td.product__cart__item_1 .product__cart__item__text_1 h6 {
    color: #111111;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.shopping__cart__table_1 table tbody tr td.product__cart__item_1 .product__cart__item__text_1 h5 {
    color: #0d0d0d;
    font-weight: 700;
}

.shopping__cart__table_1 table tbody tr td.quantity__item_1 {
    width: 175px;
}

.shopping__cart__table_1 table tbody tr td.quantity__item_1 .quantity .pro-qty-2 {
    width: 110px;
}

.shopping__cart__table_1 table tbody tr td.quantity__item_1 .quantity .pro-qty-2 span{
    padding: 20px;
    border: none;
    text-align: center;
    color: #111111;
    font-size: 16px;	
}

.shopping__cart__table_1 table tbody tr td.quantity__item_1 .quantity .pro-qty-2 .qtybtn {
    font-size: 16px;
    color: #888888;
    width: 15px;
    cursor: pointer;
    border: none;
}
.shopping__cart__table_1 table tbody tr td.cart__price {
	color: #111111;
	font-size: 18px;
	font-weight: 700;
	width: 140px;
}

.shopping__cart__table_1 table tbody tr td.cart__close i {
	font-size: 18px;
	color: #111111;
	height: 40px;
	width: 40px;
	background: #f3f2ee;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
}


/* updatebutton */

.continue__btn_1 a {
	color: #111111;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid #e1e1e1;
	padding: 14px 35px;
}
.continue__btn_1 :hover{
	color:	#111111;
}




.continue__btn_1.update__btn a {
	color: #ffffff;
	background: #111111;
	border-color: #111111;
}


