<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
  data-template="vertical-menu-template-free">

{{!-- type number bootstrap disable --}}
<style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Admin</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/admin-asset/assets/img/favicon/favicon.ico" //admin-asset <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="/admin-asset/assets/vendor/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/admin-asset/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/admin-asset/assets/vendor/css/theme-default.css"
    class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/admin-asset/assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="/admin-asset/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <link rel="stylesheet" href="/admin-asset/assets/vendor/libs/apex-charts/apex-charts.css" />

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="/admin-asset/assets/vendor/js/helpers.js"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="/admin-asset/assets/js/config.js"></script>
</head>

{{#if adminHeader}}
{{>admin-header}}
{{/if}}
{{{body}}}
{{>admin-footer}}


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/admin-asset/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/admin-asset/assets/vendor/libs/popper/popper.js"></script>
<script src="/admin-asset/assets/vendor/js/bootstrap.js"></script>
<script src="/admin-asset/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/admin-asset/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/admin-asset/assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/admin-asset/assets/js/main.js"></script>

<!-- Page JS -->
<script src="/admin-asset/assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

 <!-- sweate alert  -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  

{{!-- form validation  --}}
 <script src="/javascripts/validation.js"></script>
